body{
    margin: auto;
}

/*Header*/

#header{
    background-color: black;
    height: 60px;
}

#companyname{
    float: left;
    font-family: Franklin Gothic Medium;
    margin-left: 3%;
}

#hyperlink{
    color: #bf2c33;
    text-decoration: none;
}

#logoimage{
    text-align: right;
}

#icon{
    height: 60px;
    width: 60px;
    margin-right: 2%;
    background-color: orange;
}

/*Front Display*/

#front{
    height: 500px;
    width: 100%;
    background-image: url("https://i.ibb.co/1dZZXzf/Background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
}

#companylogo{
    height: 200px;
    width: 200px;
    background: orange;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    animation: revolve 1s;
}

@keyframes revolve {
    0% {transform: rotate(30deg)}
    25% {transform: rotate(90deg)}
    50% {transform: rotate(180deg)}
    75% {transform: rotate(270deg)}
    100% {transform: scale(2.1)}
}

#headline{
    font-size: 40px;
    font-family: Verdana;
    font-weight: bold;
    text-shadow: -6px -6px black;
    color: rgb(254 163 28);
    text-align: center;
    animation: magnify 1s;
}

@keyframes magnify {
    100% {transform: scale(1.5)}
}

.droptext{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

#dropdown{
    text-align: center;
}

#dropcity{
    display: inline;
}

#droprest{
    display: inline;
}

/*Catalogue Display*/

#heading{
    font-size: 30px;
    font-family: Impact;
    text-align: center;
    margin-top: 12%;
}

#list{
    color: black;
    text-decoration: none;
}

.box{
    border-style:inset;
    border-width: 10px;
    height: 356px;
    width: 370px;
    margin: auto;
    margin-top: 5%;
    animation: swing 1.5s;
}

@keyframes swing {
    0% {transform: rotate(10deg)}
    25% {transform: rotate(5deg)}
    50% {transform: rotate(0deg)}
    75% {transform: rotate(-5deg)}
    100% {transform: rotate(-10deg)}
}

.images{
    height: 290px;
    width: 350px;
}

.foodname{
    font-size: 30px;
    text-align: center;
}

/*Footer*/

#footer{
    margin-top: 3%;
    color: orange;
    background-color: black;
}

.vertical{
    margin-top: 2%;
    margin-left: 15%;
    font-size: 20px;
    border-left-color: rgb(254 163 28);
    border-left-style: solid;
    border-left-width: 3px;
    text-align: left;
}

#copy{
    width: 100%;
    text-align: center;
    font-family: Gill Sans;
    font-size: 25px;
    display: inline-block;
}