.ncolour{
    background-color: rgb(221, 148, 13);
}

#icon{
    height: 60px;
    width: 60px;
    background-color: orange;
}

.navv{
    font-size: 40px;
    margin-left: 10%;
    font-weight: bold;
    color: #bf2c33 !important;
    text-decoration: none;
}

.navvv{
    font-size: 25px;
    color: black !important;
    font-weight: bold;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 3px;
    text-decoration: none;
}

#filter{
    height: 600px;
    width: 240px;
    margin-top: 30%;
    margin-left: 15%;
    border-style: double;
    border-color: olive;
    box-shadow: -50px -50px 50px olive;
    animation: magnify 1s;
}

@keyframes magnify {
    0% {transform: rotate(-10deg)}
    25% {transform: rotate(0deg)}
    75% {transform: rotate(10deg)}
    100% {transform: scale(1.5)}
}

#filtername{
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: olive;
    color: olive;
}

.filterheading{
    margin-top: 7%;
    margin-left: 15%;
    color: rgb(43, 43, 1);
    font-family: Gill Sans;
    font-size: 20px;
    font-weight: bolder;
}

.filterdata{
    margin-left: 24%;
    font-size: 18px;
}

.mibox{
    height: 300px;
    width: 600px;
    border-style: ridge;
    border-color: olive;
    border-width: 5px;
    margin-top: 8%;
    margin-left: 2%;
    margin-bottom: 5%;
    box-shadow: 65px -40px 50px olive;
    animation: swing 1s;
}

@keyframes swing {
    0% {transform: rotate(10deg)}
    25% {transform: rotate(0deg)}
    75% {transform: rotate(-10deg)}
    100% {transform: scale(1.5)}
}

.mibox:hover{
    transform: scale(1.1);
    border-color: rgb(221, 221, 13);
    box-shadow: 65px -40px 50px rgb(221, 221, 13);

}

.miimage{
    height: 290px;
    width: 100%;
}

.name{
    font-family: Gill Sans;
    font-weight: bold;
    font-size: 28px;
    margin-top: 2%;
}

.star{
    color: orange;
    font-size: 15px;
    margin-left: 5%;
}

.review{
    color: orangered;
    font-size: 15px;
    margin-left: 5%;
}

.oldprice{
    font-size: 20px;
    font-weight: bold;
}

.oldcost{
    text-decoration: line-through;
    font-size: 22px;
    margin-left: 16%;
    font-weight: bolder;
}

.newprice{
    font-size: 20px;
    font-weight: bold;
}

.newcost{
    font-size: 22px;
    margin-left: 5%;
    font-weight: bolder;
}

.mibuton{
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    margin-left: 60%;
}

#footer{
    color: black;
    background-color: rgb(221, 148, 13);
}

.vertical{
    margin-top: 2%;
    margin-left: 20%;
    font-size: 20px;
    text-align: left;
}

#copy{
    font-size: 25px;
    text-align: center;
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 2px;
}