#header{
    height: 62px;
}

#icon{
    height: 50px;
    width: 50px;
    background-color: orange;
}

.navv{
    font-size: 40px;
    margin-left: 8%;
    font-weight: bold;
    color: #bf2c33 !important;
}

.navvv{
    font-size: 25px;
    color: orange !important;
    border-left-color: orange;
    border-left-style: solid;
    border-left-width: 3px;
}

#picture{
    border-style: inset;
    border-color: orange;
    border-width: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
}

#name{
    margin-left: 10%;
    margin-top: 5%;
}

#star{
    font-size: 20px;
    color: rgb(224, 64, 6);
    margin-left: 12%;
}

#review{
    font-size: 17px;
    color: rgb(194, 89, 28);
    font-weight: bolder;
    margin-left: 12%;
}

#oldprice{
    font-size: 22px;
    margin-left: 10%;
}

#oldcost{
    font-size: 24px;
    text-decoration: line-through;
    margin-left: 10%;
}

#newprice{
    font-size: 22px;
    margin-left: 10%;
}

#newcost{
    font-size: 24px;
    margin-left: 5%;
}

#termlogo1{
    height: 100px;
    width: 100px;
    border: black;
    border-style: groove;
    margin-left: 10%;
    margin-top: 2%;
}

#termlogo2{
    height: 100px;
    width: 200px;
    border: black;
    border-style: groove;
    margin-left: 5%;
    margin-top: 2%;
}

#available{
    font-size: 30px;
    color: green;
    font-weight: bolder;
    margin-left: 14%;
    margin-top: 3%;
}

#button1{
    height: 50px;
    width: 110px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    box-shadow: 2px -2px 35px inset;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 5%;
}

#button2{
    height: 50px;
    width: 120px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    box-shadow: -2px 2px 35px inset;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
}

#footer{
    color: orange;
    background-color: black;
}

.vertical{
    margin-top: 2%;
    margin-left: 20%;
    font-size: 20px;
    text-align: left;
}

#copy{
    width: 100%;
    text-align: center;
    font-family: Gill Sans;
    font-size: 25px;
}