body{
    margin: auto;
}

#header{
    background-color: black;
    height: 60px;
}

#companyname{
    float: left;
    font-family: Franklin Gothic Medium;
    margin-left: 3%;
}

#hyperlink{
    color: #bf2c33;
    text-decoration: none;
}

#logoimage{
    text-align: right;
}

#icon{
    height: 60px;
    width: 60px;
    margin-right: 2%;
    background-color: orange;
}

#picture{
    border-style: inset;
    border-color: orange;
    border-width: 10px;
    margin-top: 3%;
    margin-left: 8%;
    height: 420px;
    width: 420px;
}

#image{
    height: 400px;
    width: 400px;
}

.star{
    font-size: 20px;
    margin-left: 4%;
    color: rgb(224, 64, 6);
}

.review{
    font-size: 17px;
    margin-left: 4%;
    color: rgb(194, 89, 28);
    font-weight: bolder;
}

.oldprice{
    font-size: 22px;
    margin-top: 1%;
    margin-left: 1%;
}

.oldcost{
    font-size: 24px;
    margin-top: -5%;
    margin-left: 19%;
    text-decoration: line-through;
}

.newprice{
    font-size: 22px;
    margin-top: 1%;
    margin-left: 1%;
}

.newcost{
    font-size: 24px;
    margin-top: -5%;
    margin-left: 19%;
}

#termlogo1{
    height: 100px;
    width: 100px;
    margin-top: 1%;
    margin-left: 2%;
    border: black;
    border-style: groove;
}

#termlogo2{
    height: 100px;
    width: 200px;
    margin-top: 1%;
    margin-left: 5%;
    border: black;
    border-style: groove;
}

#available{
    font-size: 30px;
    color: green;
    font-weight: bolder;
    margin-top: 1%;
    margin-left: 5%;
}

#button1{
    height: 50px;
    width: 100px;
    margin-top: 2%;
    margin-left: 3%;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    box-shadow: 2px -2px 35px inset;
}

#button2{
    height: 50px;
    width: 120px;
    margin-left: 3%;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    box-shadow: -2px 2px 35px inset;
}

#footer{
    margin-top: 3%;
    color: orange;
    background-color: black;
}

.vertical{
    margin-top: 2%;
    margin-left: 15%;
    font-size: 20px;
    border-left-color: rgb(254 163 28);
    border-left-style: solid;
    border-left-width: 3px;
    text-align: left;
}

#copy{
    width: 100%;
    text-align: center;
    font-family: Gill Sans;
    font-size: 25px;
    display: inline-block;
}